



.headclub{
    display: flex;
    gap: 50px;
    margin-left: 30%;
    margin-right: -30%;
}
.card{
    display: flex;
    border: 2px solid black;
    height: 200px;
}
.card img{
    border: 2px solid yellowgreen;
    width: 40%;
    height: 98%;
}