*{
    background-color: rgb(170, 241, 207);
}

.headclub{
    margin-left: 250px;
    display: flex;
    gap: 100px;
}
h1{
    border: 2px solid pink;
    margin-left: 200px;
    text-align: center;
    font-size: 60px;
    font-family: "Audiowide", sans-serif;
    text-shadow: 4px 4px 4px gray;
}
.card{
    display: flex;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
}

.pimg img{
    width: 200px;
    height: 200px;
}