*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header .header_img{
    width: 100vw;
    height: 20vh;
    /* background: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header_img .left_img{
    height: 70%;
    width: 20%;
    display: flex;
    justify-content: center;
}
header .header_img .left_img img{
    height: 100%;
}

header .header_img p{
    font-size: 3.5vw;
    font-weight: bold;
}
header nav{
    display: flex;
    justify-content: center;
}
header nav ul{
    width: 80%;
    /* background: #000; */
    display: flex;
    justify-content: center;
    gap: 10%;
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #474F7A;
}
header nav ul li a:hover{
    color: #1F2544;
}